USE [Practica7MMCA]
GO
/****** Object:  Trigger [trEliminaSoloUnaCategoria]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TRIGGER [dbo].[trEliminaSoloUnaCategoria]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_ticketDetalle]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP PROCEDURE [dbo].[Eliminar_ticketDetalle]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_ticket]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP PROCEDURE [dbo].[Eliminar_ticket]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_proveedor]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP PROCEDURE [dbo].[Eliminar_proveedor]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_producto]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP PROCEDURE [dbo].[Eliminar_producto]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_marca]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP PROCEDURE [dbo].[Eliminar_marca]
GO
ALTER TABLE [dbo].[ticketdetalle] DROP CONSTRAINT [FK_producto]
GO
ALTER TABLE [dbo].[ticket] DROP CONSTRAINT [FK_infoNegocio]
GO
ALTER TABLE [dbo].[ticket] DROP CONSTRAINT [FK_infoEmpleado]
GO
ALTER TABLE [dbo].[producto] DROP CONSTRAINT [FK_uniDeMedida]
GO
ALTER TABLE [dbo].[producto] DROP CONSTRAINT [FK_tamaño]
GO
ALTER TABLE [dbo].[producto] DROP CONSTRAINT [FK_proveedor]
GO
ALTER TABLE [dbo].[producto] DROP CONSTRAINT [FK_presentacion]
GO
ALTER TABLE [dbo].[producto] DROP CONSTRAINT [FK_marca]
GO
/****** Object:  Table [dbo].[unidadmedida]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[unidadmedida]
GO
/****** Object:  Table [dbo].[tamaño]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[tamaño]
GO
/****** Object:  Table [dbo].[presentacion]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[presentacion]
GO
/****** Object:  Table [dbo].[negocio]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[negocio]
GO
/****** Object:  Table [dbo].[formaDePago]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[formaDePago]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[empleado]
GO
/****** Object:  View [dbo].[vw_ticketDetalle]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP VIEW [dbo].[vw_ticketDetalle]
GO
/****** Object:  Table [dbo].[ticketdetalle]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[ticketdetalle]
GO
/****** Object:  View [dbo].[vw_ticket]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP VIEW [dbo].[vw_ticket]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[ticket]
GO
/****** Object:  View [dbo].[vw_Productos]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP VIEW [dbo].[vw_Productos]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[producto]
GO
/****** Object:  View [dbo].[vw_Proveedores]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP VIEW [dbo].[vw_Proveedores]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[proveedor]
GO
/****** Object:  View [dbo].[vw_Marcas]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP VIEW [dbo].[vw_Marcas]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP TABLE [dbo].[marca]
GO
USE [master]
GO
/****** Object:  Database [Practica7MMCA]    Script Date: 02/11/2019 08:58:41 p. m. ******/
DROP DATABASE [Practica7MMCA]
GO
/****** Object:  Database [Practica7MMCA]    Script Date: 02/11/2019 08:58:41 p. m. ******/
CREATE DATABASE [Practica7MMCA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica7MMCA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica7MMCA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica7MMCA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica7MMCA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica7MMCA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica7MMCA]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[marca_id] [int] NOT NULL,
	[detalleMarca] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[marca_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Marcas]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[vw_Marcas]  
   AS  
   SELECT marca.detalleMarca FROM marca;  
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[proveedor_id] [int] NOT NULL,
	[detalleProveedor] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proveedor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Proveedores]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[vw_Proveedores]
   AS  
   SELECT proveedor.detalleProveedor FROM proveedor;  
GO
/****** Object:  Table [dbo].[producto]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[producto_id] [varchar](20) NOT NULL,
	[proveedor_id] [int] NOT NULL,
	[marca_id] [int] NOT NULL,
	[tamaño_id] [int] NOT NULL,
	[presentacion_id] [int] NOT NULL,
	[uniDeMedida_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Productos]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Productos]
   AS  
   SELECT producto.producto_id FROM producto;  
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[ticket_id] [int] NOT NULL,
	[negocio_id] [int] NOT NULL,
	[empleado_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ticket]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ticket]
   AS  
   SELECT ticket.ticket_id FROM ticket;  
GO
/****** Object:  Table [dbo].[ticketdetalle]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketdetalle](
	[ticketDetalle_id] [varchar](20) NOT NULL,
	[producto_id] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ticketDetalle]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ticketDetalle]
   AS  
   SELECT ticketdetalle.ticketDetalle_id FROM ticketdetalle;  
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[empleado_id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[primerApellido] [varchar](20) NOT NULL,
	[edad] [int] NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[email] [varchar](20) NOT NULL,
	[estadoCivil] [varchar](10) NOT NULL,
	[nombreCompleto]  AS ((([nombre]+' ')+[primerApellido])+' '),
PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formaDePago]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formaDePago](
	[formaPago_id] [varchar](20) NOT NULL,
	[contado] [int] NOT NULL,
	[tarjeta] [int] NULL,
	[factura] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[negocio]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[negocio](
	[negocio_id] [int] NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[horario] [int] NOT NULL,
	[datosGenerales]  AS ((([direccion]+' ')+[horario])+' '),
PRIMARY KEY CLUSTERED 
(
	[negocio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presentacion]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentacion](
	[presentacion_id] [int] NOT NULL,
	[detallePresentacion] [varchar](15) NULL,
	[detalleTamaño] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[presentacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tamaño]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tamaño](
	[tamaño_id] [int] NOT NULL,
	[detalleTamaño] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[tamaño_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unidadmedida]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidadmedida](
	[uniDeMedida_id] [int] NOT NULL,
	[detalleUnidad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uniDeMedida_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[marca] ([marca_id], [detalleMarca]) VALUES (1, N'Sabritas')
INSERT [dbo].[marca] ([marca_id], [detalleMarca]) VALUES (2, N'Pringles')
INSERT [dbo].[marca] ([marca_id], [detalleMarca]) VALUES (3, N'Gamesa')
INSERT [dbo].[presentacion] ([presentacion_id], [detallePresentacion], [detalleTamaño]) VALUES (1, N'embotellado', NULL)
INSERT [dbo].[presentacion] ([presentacion_id], [detallePresentacion], [detalleTamaño]) VALUES (2, N'bolsa', NULL)
INSERT [dbo].[presentacion] ([presentacion_id], [detallePresentacion], [detalleTamaño]) VALUES (3, N'plastico', NULL)
INSERT [dbo].[proveedor] ([proveedor_id], [detalleProveedor]) VALUES (1, N'Sabritas')
INSERT [dbo].[proveedor] ([proveedor_id], [detalleProveedor]) VALUES (2, N'Pepsi')
INSERT [dbo].[proveedor] ([proveedor_id], [detalleProveedor]) VALUES (3, N'Coca Cola')
INSERT [dbo].[tamaño] ([tamaño_id], [detalleTamaño]) VALUES (2, N'chico')
INSERT [dbo].[tamaño] ([tamaño_id], [detalleTamaño]) VALUES (3, N'mediano')
INSERT [dbo].[tamaño] ([tamaño_id], [detalleTamaño]) VALUES (4, N'grande')
INSERT [dbo].[unidadmedida] ([uniDeMedida_id], [detalleUnidad]) VALUES (1, N'kilogramos')
INSERT [dbo].[unidadmedida] ([uniDeMedida_id], [detalleUnidad]) VALUES (2, N'litros')
INSERT [dbo].[unidadmedida] ([uniDeMedida_id], [detalleUnidad]) VALUES (3, N'mililitros')
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_marca] FOREIGN KEY([marca_id])
REFERENCES [dbo].[marca] ([marca_id])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_marca]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_presentacion] FOREIGN KEY([presentacion_id])
REFERENCES [dbo].[presentacion] ([presentacion_id])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_presentacion]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[proveedor] ([proveedor_id])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_proveedor]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_tamaño] FOREIGN KEY([tamaño_id])
REFERENCES [dbo].[tamaño] ([tamaño_id])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_tamaño]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_uniDeMedida] FOREIGN KEY([uniDeMedida_id])
REFERENCES [dbo].[unidadmedida] ([uniDeMedida_id])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_uniDeMedida]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_infoEmpleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleado] ([empleado_id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_infoEmpleado]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_infoNegocio] FOREIGN KEY([negocio_id])
REFERENCES [dbo].[negocio] ([negocio_id])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_infoNegocio]
GO
ALTER TABLE [dbo].[ticketdetalle]  WITH CHECK ADD  CONSTRAINT [FK_producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[producto] ([producto_id])
GO
ALTER TABLE [dbo].[ticketdetalle] CHECK CONSTRAINT [FK_producto]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_marca]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar_marca]
@id int = 0
AS
BEGIN
SET NOCOUNT ON;

DELETE FROM marca WHERE marca_id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_producto]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar_producto]
@id int = 0
AS
BEGIN
SET NOCOUNT ON;

DELETE FROM producto WHERE producto_id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_proveedor]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar_proveedor]
@id int = 0
AS
BEGIN
SET NOCOUNT ON;

DELETE FROM proveedor WHERE proveedor_id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_ticket]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar_ticket]
@id int = 0
AS
BEGIN
SET NOCOUNT ON;

DELETE FROM ticket WHERE ticket_id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_ticketDetalle]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar_ticketDetalle]
@id int = 0
AS
BEGIN
SET NOCOUNT ON;

DELETE FROM ticketdetalle WHERE ticketDetalle_id = @id;
END
GO
/****** Object:  Trigger [dbo].[trEliminaSoloUnaCategoria]    Script Date: 02/11/2019 08:58:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Trigger [dbo].[trEliminaSoloUnaCategoria]
on [dbo].[marca] for delete
As
IF (Select COUNT(*) from Deleted)>1
BEGIN
Rollback Tran
END
GO
ALTER TABLE [dbo].[marca] ENABLE TRIGGER [trEliminaSoloUnaCategoria]
GO
USE [master]
GO
